.vs/
bin/
obj/
*.user
*.suo
*.cache
*.vcxproj.user
*.tmp
*.temp
*.log
*.tlog
publish/
*.publishsettings
*.mdf
*.ldf
*.csproj.user
*.csproj.bak
packages/
*.nupkg
appsettings.Development.json
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
*.cache
